@font-face{
	font-family: f;
	src: url(https://fonts.google.com/share?selection.family=Edu+AU+VIC+WA+NT+Hand:wght@400..700|Oswald:wght@200..700|Pacifico|Schibsted+Grotesk:ital,wght@0,400..900;1,400..900|Shadows+Into+Light|Vazirmatn:wght@100..900);
}
body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100dp;
            background-color: #f0f0f0;
	    font-family: f;		
			
        }
#schedule {
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            margin: 20px;
            border: 2px solid #333;
			justify-content: center;
        }
.c1{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding:20px;
	margin: 20px;
	color: white;
	
}
.d1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height:50px;
	width:100px;
	border: solid black 1px;
	margin: 10px;
	padding: 10px;
	align-items: center;

}

.d1.edg{
	background-color: #005f78;
}

.d1.s{
	background-color: #0092b8;
}
@media (max-width: 500px)
.c1{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding:20px;
	margin: 20px;
	color: white;
	
}

.d1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height:20px;
	width:70px;
	font-size: 10px;
	border: solid black 1px;
	margin: 10px;
	padding: 10px;
	align-items: center;

}
